networks:
  eth2-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16

services:
  # Creates a genesis state for the beacon chain using a YAML configuration file and
  # a deterministic set of 64 validators.
  create-beacon-chain-genesis:
    image: "gcr.io/prysmaticlabs/prysm/cmd/prysmctl:v5.3.2"
    command:
      - testnet
      - generate-genesis
      - --fork=capella
      - --num-validators=64
      - --genesis-time-delay=15
      - --output-ssz=/consensus/genesis.ssz
      - --chain-config-file=/consensus/config.yml
      - --geth-genesis-json-in=/execution/genesis.json
      - --geth-genesis-json-out=/execution/genesis.json
    volumes:
      - ./consensus:/consensus
      - ./execution:/execution

  # Removes the database of the go-ethereum execution client to ensure we start from a clean state.
  # (geth has a `removedb` option, but it asks for a keyboard confirmation, so we use this instead)
  geth-remove-db-node1:
    image: alpine:3.19.0
    command: rm -rf /execution/geth
    volumes:
      - ./execution/node1:/execution
    networks:
      eth2-net:

  geth-remove-db-node2:
    image: alpine:3.19.0
    command: rm -rf /execution/geth
    volumes:
      - ./execution/node2:/execution
    networks:
      eth2-net:

  # Sets up the genesis configuration for the go-ethereum client from a JSON file.

  geth-genesis-node1:
    image: ethereum/client-go:v1.14.13
    command: --datadir=/execution init /execution/genesis.json
    volumes:
      - ./execution:/execution
    networks:
      eth2-net:

  geth-genesis-node2:
    image: ethereum/client-go:v1.14.13
    command: --datadir=/execution init /execution/genesis.json
    volumes:
      - ./execution:/execution
    networks:
      eth2-net:

  beacon-node1:
    image: "gcr.io/prysmaticlabs/prysm/beacon-chain:v5.3.2"
    command:
      - --datadir=/consensus/node1/beacondata
      - --min-sync-peers=0
      - --genesis-state=/consensus/genesis.ssz
      - --bootstrap-node=
      - --interop-eth1data-votes
      - --chain-config-file=/consensus/config.yml
      - --contract-deployment-block=0
      - --chain-id=${CHAIN_ID:-32382}
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port=4000
      - --execution-endpoint=http://geth-node1:8551
      - --accept-terms-of-use
      - --jwt-secret=/execution/node1/jwtsecret
      - --suggested-fee-recipient=${FEE_RECIPIENT}
      - --minimum-peers-per-subnet=0
      - --enable-debug-rpc-endpoints
      - --force-clear-db
      - --p2p-host-ip=172.28.0.12
      - --p2p-tcp-port=13000
      - --p2p-udp-port=12000
    volumes:
      - ./consensus:/consensus
      - ./execution:/execution
    ports:
      - "13000:13000/tcp"
      - "12000:12000/udp"

    networks:
      eth2-net:
        ipv4_address: 172.28.0.12

  beacon-node2:
    image: "gcr.io/prysmaticlabs/prysm/beacon-chain:v5.3.2"
    command:
      - --datadir=/consensus/node2/beacondata
      - --min-sync-peers=0
      - --genesis-state=/consensus/genesis.ssz
      - --bootstrap-node=
      - --interop-eth1data-votes
      - --chain-config-file=/consensus/config.yml
      - --contract-deployment-block=0
      - --chain-id=${CHAIN_ID:-32382}
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port=4001
      - --execution-endpoint=http://geth-node2:8552
      - --accept-terms-of-use
      - --jwt-secret=/execution/node2/jwtsecret
      - --suggested-fee-recipient=${FEE_RECIPIENT}
      - --minimum-peers-per-subnet=0
      - --enable-debug-rpc-endpoints
      - --force-clear-db
      - --p2p-host-ip=172.28.0.22
      - --p2p-tcp-port=13001
      - --p2p-udp-port=12001
      - --peer=/ip4/172.28.0.12/tcp/13000/p2p/16Uiu2HAmCYNSynx4Q33BcQiHjyWqYgh55kYayczpjAQWRs7seFtM
    ports:
      - "13001:13001/tcp"
      - "12001:12001/udp"
    volumes:
      - ./consensus:/consensus
      - ./execution:/execution
    networks:
      eth2-net:
        ipv4_address: 172.28.0.22

  geth-node1:
    image: "ethereum/client-go:v1.14.13"
    command:
      - --http
      - --http.api=eth,net,web3,engine
      - --http.addr=0.0.0.0
      - --http.port=8545
      - --http.corsdomain=*
      - --ws
      - --ws.api=eth,net,web3,engine
      - --ws.addr=0.0.0.0
      - --ws.port=8546
      - --ws.origins=*
      - --authrpc.vhosts=*
      - --authrpc.addr=0.0.0.0
      - --authrpc.port=8551
      - --authrpc.jwtsecret=/execution/node1/jwtsecret
      - --datadir=/execution/node1
      - --allow-insecure-unlock
      - --unlock=${FEE_RECIPIENT}
      - --password=/execution/node1/geth_password.txt
      - --syncmode=full
      - --port=10302
    volumes:
      - ./execution/node1:/execution/node1
    ports:
      - "18545:8545"
      - "18546:8546"
      - "18551:8551"
      - "10302:10302"
    networks:
      eth2-net:
        ipv4_address: 172.28.0.11

  geth-node2:
    image: "ethereum/client-go:v1.14.13"
    command:
      - --http
      - --http.api=eth,net,web3,engine
      - --http.addr=0.0.0.0
      - --http.port=8547
      - --http.corsdomain=*
      - --ws
      - --ws.api=eth,net,web3,engine
      - --ws.addr=0.0.0.0
      - --ws.port=8548
      - --ws.origins=*
      - --authrpc.vhosts=*
      - --authrpc.addr=0.0.0.0
      - --authrpc.port=8552
      - --authrpc.jwtsecret=/execution/node2/jwtsecret
      - --datadir=/execution/node2
      - --allow-insecure-unlock
      - --unlock=${FEE_RECIPIENT}
      - --password=/execution/node2/geth_password.txt
      - --syncmode=full
      - --port=10304
    volumes:
      - ./execution/node2:/execution/node2
    ports:
      - "18547:8547"
      - "18548:8548"
      - "18552:8552"
      - "10303:10303"
    networks:
      eth2-net:
        ipv4_address: 172.28.0.21

  validator:
    image: "gcr.io/prysmaticlabs/prysm/validator:v5.3.2"
    command:
      - --beacon-rpc-provider=beacon-node1:4000
      - --datadir=/consensus/validatordata
      - --accept-terms-of-use
      - --interop-num-validators=64
      - --interop-start-index=0
      - --chain-config-file=/consensus/config.yml
      - --force-clear-db
    volumes:
      - ./consensus:/consensus
    networks:
      eth2-net:
        ipv4_address: 172.28.0.13
