networks:
  eth-pos-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
services:
  # 初始化 Prysm 的共识客户端配置文件和 genesis 状态。
  # 该配置文件包含了链的参数和 genesis 状态的生成。
  create-beacon-chain-genesis:
    image: "gcr.io/prysmaticlabs/prysm/cmd/prysmctl:v5.3.2"
    command:
      - testnet
      - generate-genesis
      - --fork=capella
      - --num-validators=64
      - --genesis-time-delay=15
      - --output-ssz=/consensus/genesis.ssz
      - --chain-config-file=/consensus/config.yml
      - --geth-genesis-json-in=/execution/genesis.json
      - --geth-genesis-json-out=/execution/genesis.json
    volumes:
      - ./consensus:/consensus
      - ./execution:/execution

  # 移除之前的 go-ethereum 执行客户端的数据库，以确保使用新的 genesis 文件进行初始化。
  geth-remove-db:
    image: "alpine:3.19.0"
    command: rm -rf /execution/geth
    volumes:
      - ./execution:/execution

  # 初始化 go-ethereum 执行客户端的数据库，使用之前生成的 genesis 文件。
  geth-genesis:
    image: "ethereum/client-go:v1.14.13"
    command: --datadir=/execution init /execution/genesis.json
    volumes:
      - ./execution:/execution
      - ./execution/genesis.json:/execution/genesis.json

  # 修改权限以确保执行客户端和共识客户端可以访问生成的 genesis 文件。
  root-change:
    image: "alpine:3.19.0"
    command:
      ["/bin/sh", "-c", "chmod -R 777 /execution/ && chmod -R 777 /consensus/"]
    volumes:
      - ./execution:/execution
      - ./consensus:/consensus

  # 运行Prysm的 beacon chain 客户端，使用之前生成的 genesis 状态和配置文件。
  # 它还连接到 go-ethereum 执行客户端以进行 PoS 共识。
  beacon-chain:
    image: "gcr.io/prysmaticlabs/prysm/beacon-chain:v5.3.2"
    env_file: .env
    command:
      - --datadir=/consensus/beacondata
      - --min-sync-peers=0
      - --genesis-state=/consensus/genesis.ssz
      - --bootstrap-node=
      - --interop-eth1data-votes
      - --chain-config-file=/consensus/config.yml
      - --contract-deployment-block=0
      - --chain-id=${CHAIN_ID:-32382}
      - --rpc-host=0.0.0.0
      - --rpc-port=4000
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port=3500
      - --execution-endpoint=http://geth:${GETH_ENGINE_PORT}
      - --accept-terms-of-use
      - --jwt-secret=/execution/jwtsecret
      - --suggested-fee-recipient=${FEE_RECIPIENT}
      - --minimum-peers-per-subnet=0
      - --enable-debug-rpc-endpoints
      - --force-clear-db
      - --p2p-host-ip=0.0.0.0
      - --p2p-tcp-port=9000
      - --p2p-udp-port=9000
    volumes:
      - ./consensus:/consensus
      - ./execution:/execution
      - ./execution/jwtsecret:/execution/jwtsecret
    ports:
      - "${BEACON_GRPC_PORT}:3500"
      - "${BEACON_RPC_PORT}:4000"
      - "${BEACON_P2P_PORT}:9000/udp"
      - "${BEACON_P2P_PORT}:9000/tcp"
    networks:
      eth-pos-net:
        ipv4_address: 172.28.0.12

  # 启动 go-ethereum 执行客户端，连接到 Prysm 的 beacon chain 客户端。
  # 在端口上 开启p2p、HTTP 和 WebSocket 接口。
  geth:
    image: "ethereum/client-go:v1.14.13"
    env_file: .env
    command:
      - --http
      - --http.api=eth,net,web3,engine
      - --http.addr=0.0.0.0
      - --http.port=${GETH_HTTP_PORT}
      - --http.corsdomain=*
      - --ws
      - --ws.api=eth,net,web3,engine
      - --ws.addr=0.0.0.0
      - --ws.port=${GETH_WS_PORT}
      - --ws.origins=*
      - --authrpc.vhosts=*
      - --authrpc.addr=0.0.0.0
      - --authrpc.port=${GETH_ENGINE_PORT}
      - --authrpc.jwtsecret=/execution/jwtsecret
      - --datadir=/execution
      - --allow-insecure-unlock
      - --unlock=${FEE_RECIPIENT}
      - --password=/execution/geth_password.txt
      - --syncmode=full
      - --mine
      - --miner.etherbase=${FEE_RECIPIENT}
      - --port=${GETH_P2P_PORT}
    volumes:
      - ./execution:/execution
      - ./execution/jwtsecret:/execution/jwtsecret
      - ./execution/geth_password.txt:/execution/geth_password.txt
    ports:
      - "${GETH_HTTP_PORT}:${GETH_HTTP_PORT}"
      - "${GETH_WS_PORT}:${GETH_WS_PORT}"
      - "${GETH_ENGINE_PORT}:${GETH_ENGINE_PORT}"
      - "${GETH_P2P_PORT}:${GETH_P2P_PORT}/udp"
      - "${GETH_P2P_PORT}:${GETH_P2P_PORT}/tcp"
    depends_on:
      geth-genesis:
        condition: service_completed_successfully
      beacon-chain:
        condition: service_started
    networks:
      eth-pos-net:
        ipv4_address: 172.28.0.11

  # 启动 Prysm 的验证者客户端，连接到 beacon chain 客户端。
  validator:
    image: "gcr.io/prysmaticlabs/prysm/validator:v5.3.2"
    env_file: .env
    command:
      - --beacon-rpc-provider=beacon-chain:4000
      - --datadir=/consensus/validatordata
      - --accept-terms-of-use
      - --interop-num-validators=64
      - --interop-start-index=0
      - --chain-config-file=/consensus/config.yml
      - --force-clear-db
    volumes:
      - ./consensus:/consensus
    depends_on:
      beacon-chain:
        condition: service_started
    networks:
      eth-pos-net:
        ipv4_address: 172.28.0.13
